<template>
  <div class="about">
    <NavBar></NavBar>
    <h3>Created by</h3>
    <h1>Alejandro Guerra Carbonell</h1>
  </div>
</template>

<script>
import NavBar from "@/components/Navbar.vue";

export default {
  name: "about",
  components: {
    NavBar
  }
};
</script>

<style scoped>
.about {
  margin-top: 40px;
}
p {
  margin-top: 40px;
  font-size: 13px;
}
p a {
  text-decoration: underline;
  cursor: pointer;
}
</style>