<template>
  <div class="doc">
    <NavBar></NavBar>
    <h2>Documentation about the Shop List App</h2>

    <p>
      First of all you need to install all dependencies so use
      <strong>npm install</strong> in webapp root to install it. After that if you want to
    </p>
    <p>
      run in localhost, just to check some parts of the code or for other reason you have to type
      <strong>npm run serve</strong> this starts
    </p>
    <p>the application and you should see something similar to App running at http://localhost:8080/ Besides here you have</p>
    <p>
      the link to the public repository on
      <strong>
        <a href="https://bitbucket.org/Alejandro_Guerra/shoplist/src/master/">BitBucket</a>
      </strong>

       to see all the code.
    </p>

    <br>
    <p>On the one hand I chose Firebase in order to simplify and speed up the project structure, because it's easier</p>
    <p>to set up all the steps to start working on your application. But this decision gave me some problems with the</p>
    <p>structure becasue Firebase works with JSON that's the best part but in some cases for exameple when I create</p>
    <p>a new user the user ID it's created by Firebase and if I want to do some requests to the Data Base, I need more</p>
    <p>steps to get it.</p>
    <br>

    <p>On the other hand I've follow next steps to set up the server, install node.js and nginx, that allow me to deploy the app</p>
    <p>on the server, so the app should running at
      <a href="http://3.120.205.40">http://3.120.205.40</a>
    </p>
    <br>

    <p>Funthermore there is a folder in order to create unit test cases, all the software created need to be tested. Also</p>
    <p>if the application works inside another big project, it's necesary create integration test cases just to be sure that</p>
    <p>all continue working. Finally I dind't have enought time to create unit test cases but if I would have time, I would</p>
    <p>have used Mocha and Chai Frameworks.</p>

    <br>
  </div>
</template>

<script>
import NavBar from "@/components/Navbar.vue";

export default {
  name: "doc",
  components: {
    NavBar
  }
};
</script>

<style scoped>
.doc {
  margin-top: 40px;
}
p {
  justify-content: center;
  margin-top: 10px;
  font-size: 15px;
}
li {
  margin-top: 40px;
  font-size: 15px;
}

h2 {
  margin-bottom: 40px;
}

p a {
  text-decoration: underline;
  cursor: pointer;
}

.justify-content {
  display: flex;
  justify-content: center;
}
</style>