<template>
  <div class="home">
    <NavBar></NavBar>
    <ShopListPage :user="user"></ShopListPage>
  </div>
</template>

<script>
// @ is an alias to /src
import ShopListPage from "@/components/ShopListPage.vue";
import NavBar from "@/components/Navbar.vue";
import UserService from "@/services/UserService.js";
import firebase from "firebase";

export default {
  name: "home",
  data() {
    return {
      user: {}
    };
  },
  components: {
    ShopListPage,
    NavBar
  },
  methods: {
    getCurrentUser: function(email) {
      UserService.getUserById(
        email,
        data => {
          this.user = data;
        },
        error => {
          this.error = error;
        }
      );
    }
  },
  created() {
    let currentUserMail = firebase.auth().currentUser.email;
    this.getCurrentUser(currentUserMail);
  }
};
</script>

<style scoped>
.home {
  margin-top: 40px;
}
input {
  margin: 10px 0;
  width: 20%;
  padding: 15px;
}
button {
  margin-top: 20px;
  width: 10%;
  cursor: pointer;
}
p {
  margin-top: 40px;
  font-size: 13px;
}
p a {
  text-decoration: underline;
  cursor: pointer;
}

.toasted-container .toasted > svg {
  margin-right: 0.5rem;
  margin-left: -0.4rem;
}
</style>