<template>
  <div class="landing">
    <NavBar></NavBar>
    <h2>Welcome to the Shopping List App</h2>
    <FooterBar :infoLanding="infoLanding"></FooterBar>
  </div>
</template>

<script>
import firebase from "firebase";
import UserService from "@/services/UserService.js";
import fontawesome from "@fortawesome/fontawesome";
import faSolid from "@fortawesome/fontawesome-free-solid";
import FooterBar from "@/components/Footer.vue";
import NavBar from "@/components/Navbar.vue";

export default {
  name: "landing",
  data() {
    return {
      email: "",
      password: "",
      error: "",
      infoLanding: {
        totalUsers: 0,
        listWithItems: 0,
        tatalItems: 0
      }
    };
  },
  components: {
    NavBar,
    FooterBar
  },
  methods: {
    login: function() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          () => {
            this.$router.replace("home");
          },
          err => {
            this.$toasted.show(
              `${fontawesome.icon(faSolid.faBan).html}` + err.message,
              {
                theme: "bubble",
                position: "top-center",
                duration: 3000
              }
            );
          }
        );
    },
    getTotalUsers: function() {
      UserService.getUsers(
        data => {
          this.infoLanding.totalUsers = Object.keys(data).length;
          this.getListWithItems(data);
        },
        error => {
          this.error = error;
        }
      );
    },
    getListWithItems: function(data) {
      let ids = this.getIds(data);
      this.getTotalItems(ids, data);

      for (let i = 0; i < ids.length; i++) {
        if (data[Object.keys(data)[i]].list.length > 1) {
          this.infoLanding.listWithItems += 1;
        }
      }
    },
    getTotalItems: function(ids, data) {
      for (let i = 0; i < ids.length; i++) {
        if (data[Object.keys(data)[i]].list.length > 1) {
          this.infoLanding.tatalItems += data[Object.keys(data)[i]].list.length;
        }
      }
    },
    getIds: function(data) {
      let ids = [];
      for (var i = 0; i < this.infoLanding.totalUsers; i++) {
        ids.push(Object.keys(data)[i]);
      }
      return ids;
    }
  },
  created() {
    this.getTotalUsers();
  }
};
</script>

<style scoped>
.landing {
  margin-top: 40px;
}
input {
  margin: 10px 0;
  width: 20%;
  padding: 15px;
}
button {
  margin-top: 20px;
  width: 10%;
  cursor: pointer;
}
p {
  margin-top: 40px;
  font-size: 13px;
}
p a {
  text-decoration: underline;
  cursor: pointer;
}

.toasted-container .toasted > svg {
  margin-right: 0.5rem;
  margin-left: -0.4rem;
}
</style>