<template>
  <div class="login">
    <NavBar></NavBar>
    <h3>Sign In</h3>
    <div>
      <input type="text" v-model="email" placeholder="Email">
    </div>
    <div>
      <input type="password" v-model="password" placeholder="Password">
    </div>

    <div>
      <button @click="login">Log In</button>
    </div>
    <div>
      <input type="checkbox" class="checkbox" v-model="rememberMe" @click="isRememberMeChecked">
      Remember me?
    </div>
    <p>You don't have an account ? You can
      <router-link to="/sign-up">create one</router-link>
    </p>
  </div>
</template>

<script>
import firebase from "firebase";
import UserService from "../services/UserService.js";
import fontawesome from "@fortawesome/fontawesome";
import faSolid from "@fortawesome/fontawesome-free-solid";
import NavBar from "@/components/Navbar.vue";

export default {
  name: "login",
  data() {
    return {
      email: "",
      password: "",
      data: [],
      error: "",
      totalUsers: 0,
      rememberMe: false
    };
  },
  components: {
    NavBar
  },
  methods: {
    isRememberMeChecked: function() {
      return !this.rememberMe;
    },
    getCookie: function(name) {
      let coockie = document.cookie.match("(^|;) ?" + name + "=([^;]*)(;|$)");
      return coockie ? coockie[2] : null;
    },
    setCookie: function() {
      // Encode  Values
      let name = btoa("ghShopList");
      let value = btoa("ghShopListCookie");

      var d = new Date();
      d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * 15 /* days*/); // 15 Days
      document.cookie =
        name + "=" + value + ";path=/;expires=" + d.toGMTString();
    },
    login: function() {
      if (this.isRememberMeChecked) {
        this.setCookie();
      }
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          () => {
            this.$router.replace("home");
          },
          err => {
            this.$toasted.show(
              `${fontawesome.icon(faSolid.faBan).html}` + err.message,
              {
                theme: "bubble",
                position: "top-center",
                duration: 3000
              }
            );
          }
        );
    },
    getTotalUsers: function() {
      UserService.getUsers(
        data => {
          this.data = data;
          this.totalUsers = Object.keys(this.data).length;
        },
        error => {
          this.error = error;
        }
      );
    }
  },
  created() {
    this.getTotalUsers();
    const cookie = this.getCookie(btoa("ghShopList"));
    if (cookie != null) {
      this.$router.replace("home");
    }
  }
};
</script>

<style scoped>
.login {
  margin-top: 40px;
}

.checkbox {
  margin: 10px 0;
  width: 2%;
  padding: 15px;
}

input {
  margin: 10px 0;
  width: 20%;
  padding: 15px;
}
button {
  margin-top: 20px;
  width: 10%;
  cursor: pointer;
}
p {
  margin-top: 40px;
  font-size: 13px;
}
p a {
  text-decoration: underline;
  cursor: pointer;
}

.toasted-container .toasted > svg {
  margin-right: 0.5rem;
  margin-left: -0.4rem;
}
</style>