<template>
  <div class="sign-up">
    <p>Let's create a new account !</p>
    <div>
      <input type="text" v-model="name" placeholder="Name">
    </div>
    <div>
      <input type="text" v-model="email" placeholder="Email">
    </div>
    <div>
      <input type="password" v-model="password" placeholder="Password">
    </div>
    <button @click="signUp">Sign Up</button>
    <span>or go back to
      <router-link to="/login">login</router-link>
    </span>
  </div>
</template>

 <script>
import firebase from "firebase";
import UserService from "../services/UserService.js";
import fontawesome from "@fortawesome/fontawesome";
import faSolid from "@fortawesome/fontawesome-free-solid";

export default {
  name: "signUp",
  data() {
    return {
      user: {},
      name: "",
      email: "",
      password: ""
    };
  },
  methods: {
    signUp: function() {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(
          () => {
            this.$router.replace("home");
          },
          err => {
            this.$toasted.show(
              `${fontawesome.icon(faSolid.faBan).html}` + err.message,
              {
                theme: "bubble",
                position: "top-center",
                duration: 3000
              }
            );
          }
        );
      this.inserData();
    },
    inserData: function() {
      this.user = {
        name: this.name,
        email: this.email,
        password: this.password,
        list: [
          {
            itemName: "",
            checkec: false
          }
        ]
      };
      const data = JSON.stringify(this.user);
      UserService.postUser(data);
    }
  }
};
</script>

 <style scoped>
.sign-up {
  margin-top: 40px;
}
input {
  margin: 10px 0;
  width: 20%;
  padding: 15px;
}
button {
  margin-top: 10px;
  width: 10%;
  cursor: pointer;
}
span {
  display: block;
  margin-top: 20px;
  font-size: 11px;
}
</style>