<template>
  <div class="md-menu">
    <md-menu md-size="medium" title="Total Users">
      <i class="fas fa-user fa-2x"></i>
      {{infoLanding.totalUsers}}
    </md-menu>

    <md-menu md-size="medium" title="Lists with al least 1 item">
      <i class="fas fa-clipboard-list fa-2x"></i>
      {{infoLanding.listWithItems}}
    </md-menu>

    <md-menu md-size="medium" title="Total Items in all Lists">
      <i class="fas fa-list-ol fa-2x"></i>
      {{infoLanding.tatalItems}}
    </md-menu>
  </div>
</template>

<script>
export default {
  name: "Footer",
  props: ["infoLanding"],
  data() {
    return {};
  },
  mounted() {}
};
</script>

<style scoped>
.md-menu {
  margin: 24px;
}
</style>