<template>
  <div class="container">
    <md-menu md-size="medium">
      <router-link to="/landing" @click="logout">
        <md-button>
          <i class="fas fa-shopping-basket fa-2x"></i>
        </md-button>
      </router-link>
    </md-menu>

    <md-menu md-size="medium">
      <router-link to="/doc">
        <md-button>Doc</md-button>
      </router-link>
    </md-menu>

    <md-menu md-size="medium">
      <router-link to="/about">
        <md-button>About</md-button>
      </router-link>
    </md-menu>

    <md-menu md-size="medium" v-if="!this.logged">
      <router-link to="/login">
        <md-button>Login</md-button>
      </router-link>
    </md-menu>

    <md-menu md-size="medium" v-if="this.logged">
      <router-link to="/landing">
        <md-button @click="logout">Logout</md-button>
      </router-link>
    </md-menu>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "Navbar",
  data() {
    return {
      logged: false
    };
  },
  methods: {
    logout: function() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.logged = true;
          this.$router.replace("landing");
        });
    },
    isLogged: function() {
      return firebase.auth().currentUser;
    }
  },
  created() {
    if (this.isLogged() != null) {
      this.logged = true;
    }
  }
};
</script>

<style scoped>
.container {
  width: 55%;
  margin: 1em auto 3em;

  border: 1px solid #8c8c8c;
  background-color: cornflowerblue;
}

.md-menu {
  margin: 24px;
}
</style>