<template>
  <div class="container" id="todo">
    <h2>Welcome to {{user.name}}'s List</h2>
    <section class="panel">
      <input type="checkbox" id="mark-all" @click="selectAll(tasks)" :checked="areAllSelected">
      <input
        v-model="newTask"
        placeholder="What do you need to add?"
        autofocus
        class="text-input"
        @keyup.enter="addTask"
      >
      <button @click="clearList">Clear List</button>
    </section>

    <section class="list">
      <ul class="list-item">
        <li v-for="(task, index) in tasks" :class="{done: isChecked(task)}" :key="index">
          <input type="checkbox" class="checkbox" @click="check(index)" v-model="task.checked">
          <input
            type="text"
            v-if="task === editingTask"
            v-auto-focus
            class="text-input"
            @keyup.enter="endEditing(index)"
            @blur="endEditing(index)"
            v-model="task.itemName"
          >
          
          <label
            for="checkbox"
            v-if="task !== editingTask"
            @dblclick="editTask(task)"
          >{{ task.itemName }}</label>
          
          <button class="delete" @click="removeTask(index)">X</button>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import UserService from "@/services/UserService.js";
import firebase from "firebase";

export default {
  name: "ShopListPage",
  users: [],
  currentUserMail: "",
  currentId: "",
  updateUser: "",
  userList: "",
  props: {
    user: {}
  },
  data() {
    return {
      newTask: "",
      tasks: [],
      editingTask: {}
    };
  },
  created() {
    this.currentUserMail = firebase.auth().currentUser.email;
    UserService.getUsers(
      data => {
        this.users = data;
      },
      error => {
        this.error = error;
      }
    );
    UserService.getUserById(
      this.currentUserMail,
      data => {
        this.userList = data.list;
        this.cleanList(this.userList);
        this.tasks = this.userList;
      },
      error => {
        this.error = error;
      }
    );
  },
  computed: {
    areAllSelected: function() {
      return (
        this.tasks.every(function(task) {
          return task.checked;
        }) && this.tasks.length > 0
      );
    }
  },
  methods: {
    addItemToUserList: function(id, data) {
      UserService.addItemToUserList(
        id,
        data,
        response => {
          this.updateUser = response;
        },
        error => {
          this.error = error;
        }
      );
    },
    cleanList: function(list) {
      for (let item = 0; item < list.length; item++) {
        if (
          list[item].itemName === "" ||
          list[item].itemName ==
            "This is an example task. Delete and add your own"
        ) {
          list.splice(list[item], 1);
        }
      }
    },
    addTask: function() {
      var task = this.newTask.trim();
      if (task) {
        this.tasks.push({ itemName: task, checked: false });
        this.newTask = "";
      }

      this.postData();
    },
    postData: function() {
      this.currentId = this.getId();
      this.updateUser = this.user;
      this.updateUser.list = this.tasks;
      let data = JSON.stringify(this.updateUser);
      this.addItemToUserList(this.currentId, data);
    },
    putData: function() {
      this.currentId = this.getId();
      this.updateUser = this.user;
      this.updateUser.list = this.tasks;
      let data = JSON.stringify(this.updateUser);
      this.addItemToUserList(this.currentId, data);
    },
    getId: function() {
      for (let i = 0; i < Object.keys(this.users).length; i++) {
        if (
          this.users[Object.keys(this.users)[i]].email == this.currentUserMail
        ) {
          return [Object.keys(this.users)[i]][0];
        }
      }
    },
    removeTask: function(index) {
      this.tasks.splice(index, 1);
      this.putData();
    },
    editTask: function(task) {
      this.editingTask = task;
    },
    endEditing: function(index) {
      this.editingTask = {};
      if (this.tasks[index].itemName.trim() === "") {
        this.tasks.splice(index, 1);
      }
      this.putData();
    },
    clearList: function() {
      this.tasks = [];
      let emptyList = [
        {
          itemName: "",
          checked: false
        }
      ];
      this.currentId = this.getId();
      this.updateUser = this.user;
      this.updateUser.list = emptyList;
      let data = JSON.stringify(this.updateUser);
      this.addItemToUserList(this.currentId, data);
    },
    selectAll: function() {
      var targetValue = this.areAllSelected ? false : true;
      for (var i = 0; i < this.tasks.length; i++) {
        this.tasks[i].checked = targetValue;
      }
      this.putData();
    },
    check: function(index) {
      this.tasks[index].checked = this.tasks[index].checked ? false : true;
      this.putData();
    },
    isChecked: function(task) {
      return task.checked;
    }
  }
};
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  background-color: #eff1f2;
}

.container {
  width: 40%;
  margin: 1em auto 3em;
  border: 1px solid #8c8c8c;
}

.panel,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #8c8c8c;
  background-color: rgb(210, 212, 214);
}

.text-input {
  border: 1px solid #dedede;
  padding-left: 10px;
  width: 60%;
  height: 35px;
  color: #555;
}

button {
  color: #555;
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  outline: 0;
  width: 100px;
  height: 38px;
  cursor: pointer;
  font-size: 14px;
}

/* Task  area */
.list li {
  background-color: cornflowerblue;
}

.list li button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  visibility: hidden;
  font-size: 20px;
  font-weight: bold;
}

.list li:hover > button {
  visibility: visible;
}

.list label {
  padding-right: 10px;
  display: inline-block;
  width: 70%;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  z-index: 2;
  overflow: hidden;
}

.list li.done label {
  color: #000000;
  text-decoration: line-through;
}

.credit a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.credit a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    max-width: 90%;
  }

  .text-input,
  .list label {
    width: 60%;
    font-size: 14px;
  }

  button {
    width: 50px;
    height: 50px;
  }
}
</style>
